<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="textBox_server" value="10.222.31.79"/>
    <add key="textBox_user" value="sa"/>
    <add key="textBox_password" value="Igtcorp123"/>
    <add key="textBox_database" value="ExecutionPlan"/>
    <add key="textBox_table" value="TraceTable"/>
    <add key="textBox_Criteria" value=""/>
    <add key="textBox_excel" value="result.xlsx"/>
   </appSettings>
</configuration>